@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
   direction: rtl; 
}
:root{

    --greenYellow:#A3BB10;
    --green:#2A8934;
    --darkBlue:#2657A1;
    --purple:#802378;
    --red:#FF0000;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family:"Cairo", sans-serif;
    background-color: #eee;
    
}


.swiper-button-next,
.swiper-button-prev
{
color: white !important;
opacity: 0.7;
}
.swiper-pagination-bullet{
    background-color:#3D506D !important ;
}

.add-category .center-category{
    width: 500px;
    height: 600px;
    border: solid black 5px;
    border-top: solid transparent 5px;
    border-bottom: solid transparent 5px;
    border-radius: 50%;
    outline: none;
}

.add1::before{
    content: '';
    position: absolute;
    width: 115px;
    height: 5px;
    background-color:var(--greenYellow) ;
    left: -115px;
    top: 30px;
}
.add1::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--greenYellow);
    border-radius: 50%;
    background-color:var(--greenYellow) ;
    left: -120px;
    top: 22px;
}
.add2::before{
    content: '';
    position: absolute;
    width: 115px;
    height: 5px;
    background-color:var(--greenYellow) ;
    right: -115px;
    top: 30px;
}
.add2::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--greenYellow);
    border-radius: 50%;
    background-color:var(--greenYellow) ;
    right: -120px;
    top: 22px;
}
.add3::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background-color:var(--green) ;
    left: -80px;
    top: 30px;
}
.add3::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--green);
    border-radius: 50%;
    background-color:var(--green) ;
    left: -85px;
    top: 22px;
}
.add4::before{
    content: '';
    position: absolute;
    width: 85px;
    height: 5px;
    background-color:var(--green) ;
    right: -85px;
    top: 30px;
}
.add4::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--green);
    border-radius: 50%;
    background-color:var(--green) ;
    right: -85px;
    top: 22px;
}
.add5::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background-color:var(--darkBlue) ;
    left: -80px;
    top: 30px;
}
.add5::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--darkBlue);
    border-radius: 50%;
    background-color:var(--darkBlue) ;
    left: -80px;
    top: 22px;
}
.add6::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background-color:var(--darkBlue) ;
    right: -80px;
    top: 30px;
}
.add6::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--darkBlue);
    border-radius: 50%;
    background-color:var(--darkBlue) ;
    right: -80px;
    top: 22px;
}

.add7::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 5px;
    background-color:var(--purple) ;
    left: -90px;
    top: 30px;
}
.add7::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--purple);
    border-radius: 50%;
    background-color:var(--purple) ;
    left: -90px;
    top: 22px;
}
.add8::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 5px;
    background-color:var(--purple) ;
    right: -90px;
    top: 30px;
}
.add8::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--purple);
    border-radius: 50%;
    background-color:var(--purple) ;
    right: -90px;
    top: 22px;
}
.add9::before{
    content: '';
    position: absolute;
    width: 135px;
    height: 5px;
    background-color:var(--red) ;
    left: -135px;
    top: 30px;
}
.add9::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--red);
    border-radius: 50%;
    background-color:var(--red) ;
    left: -135px;
    top: 22px;
}
.add10::before{
    content: '';
    position: absolute;
    width: 135px;
    height: 5px;
    background-color:var(--red) ;
    right: -135px;
    top: 30px;
}
.add10::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--red);
    border-radius: 50%;
    background-color:var(--red) ;
    right: -135px;
    top: 22px;
    
}
.modify-icon{
    position: absolute;
    font-size: 16px;
    left: 15px;
    top: 20px;
    cursor: pointer;
}
.delete-icon{
    position: absolute;
    font-size: 16px;
    right: 15px;
    top: 20px;
    cursor: pointer;
}
.profile{
    transform: translateY(-12px);
    cursor: pointer;
}
.btn-add-category{
    position: absolute;
    left: 10%;
    top:120%;
}
.btn-add-term{
    position: absolute;
    left: 10%;
    top: 100%; 
}
.btn-add{
    transform: translate(0px,40px);
}
.fa-check{
    transform: translate(-20px,-5px);
}
.add-category{
    transform: translateX(35px);
}
.add-category .left-category{

    transform: translateX(35px);
    z-index: 2;
    cursor: pointer;
}
.add-category .right-category{

    transform: translateX(-110px);
    z-index: 2;
    cursor: pointer;
}
.f{
    position: absolute;
    top:40%;
}
.term-down::after{
    content: '';
    background-color: black;
    opacity: 0.3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   position: absolute;
   top: 110%;
   left: 50%;
   transform: translateX(-50%);
}
.term-up::after{
    content: '';
    background-color: black;
    opacity: 0.3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   position: absolute;
   top: -30%;
   left: 50%;
   transform: translateX(-50%);
}

.term-1::before{

    content: '';
    width: 15rem;
    height: 15rem;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid #2657A1;
    border-bottom: 120px solid transparent;
    position: absolute;
    top: 100%;
   opacity: 0.8;
}
.term-2::before{

    content: '';
    width: 15rem;
    height: 15rem;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid #2A8934;
    border-bottom: 120px solid transparent;
    position: absolute;
    top: 100%;
   opacity: 0.8;
}
.term-3::before{

    content: '';
    width: 15rem;
    height: 15rem;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid #802378;
    border-bottom: 120px solid transparent;
    position: absolute;
    top: 100%;
   opacity: 0.8;
}
.term-4::before{

    content: '';
    width: 15rem;
    height: 15rem;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid transparent;
    border-bottom: 120px solid #FF0000;
    position: absolute;
    top: -100%;
   opacity: 0.8;
}
.term-5::before{

    content: '';
    width: 15rem;
    height: 15rem;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid transparent;
    border-bottom: 120px solid #52B9AC;
    position: absolute;
    top: -100%;
   opacity: 0.8;
}
.term-6::before{

    content: '';
    width: 15rem;
    height: 15rem;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid transparent;
    border-bottom: 120px solid #A3BB10;
    position: absolute;
    top: -100%;
   opacity: 0.8;
}
.add-file{
    position: absolute;
    z-index: 10;
    background-color:white;
    border:2px solid gray;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    width: 500px;
    height: 450px;
    
}
.add-file .fa-xmark{
    position: absolute;
    left: 20px;
    top: 20px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.add-file .fa-file-arrow-up{
    position: absolute;
    left: 70px;
    top: 70px;
    color: black;
    font-size: 50px;
    cursor: pointer;
}
.attached{
    transform:rotate(45deg);
}
.attached-text{
    transform: rotate(-45deg)translate(-35px,10px);

}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm){
    background-color: #2657A1 !important;     
}
.profile-admin{
    position: absolute;
    z-index: 20;
    width: 500px;
    height: 350px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid gray;
    border-radius: 10px;
}
.profile-admin .fa-xmark{
    position: absolute;
    left: 20px;
    top: 20px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.profile-admin .fa-pen{
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    left: 57%;
    top: 27%;
    cursor: pointer;  
}
.profile-viewer .fa-pen{
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    left: 57%;
    top: 27%;
    cursor: pointer; 
}
.profile-viewer{
    position: absolute;
    z-index: 20;
    width: 500px;
    height: 350px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid gray;
    border-radius: 10px;
}
.profile-viewer .fa-xmark{
    position: absolute;
    left: 20px;
    top: 20px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.change-password{
    position: absolute;
    z-index: 30;
    width: 500px;
    height: 350px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid gray;
    border-radius: 10px;
}
.change-password .fa-xmark{
    position: absolute;
    left: 20px;
    top: 20px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.add-user{
    position: absolute;
    z-index: 40;
    width: 600px;
    height: 500px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid gray;
    border-radius: 10px;
}
.add-user .fa-xmark{
    position: absolute;
    left: 10px;
    top: -32%;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.add-user .fa-pen{
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    left: 57%;
    top: 17%;
    cursor: pointer; 
}



/*  responsive mobile sreen  */

@media (max-width:450px) {

    .header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .phone-and-email-header{
        margin-right: 5px;
    }
    .footer{
        display: block;
        margin-bottom: -15px;
    
    }
    .footer-content{
        width: 100% !important;
     padding:20px 40px 0 100px;
    }
    .follow-us{
        padding-bottom: 20px;
    }
    .form{
        width: 350px !important;
        height: 520px !important;
    }
    .form-logo img{
        margin-right: 40px;
    }
    .form-text{
        transform: translateX(50px);
    }
    .form-text input{
        width: 250px !important;
    }
    .btn-form{
        transform: translateX(22px);
    }
    .profile{
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-65%);
         
    }
    .text-up-profile{
        transform: translate(10px,40px);
        margin-top: 30px;
        margin-bottom: 20px;

    }
    .btn-add-category{
        left:22%;      
    }
    .add1::before,.add2::before,.add3::before,.add4::before,.add5::before,
    .add6::before,.add7::before,.add8::before,.add9::before,.add10::before{

        display: none;
    }
    .add1::after,.add2::after,.add3::after,.add4::after,.add5::after,
    .add6::after,.add7::after,.add8::after,.add9::after,.add10::after{
        
        display: none;
    }
    .add-category{
 
        display: none;
    }
    .add-left,.add-right{
        width: 18rem !important;
    }
    .left-category{
        
        width: 80% !important;
        margin-left: 80px !important;
      }
       .right-category{
         
         width: 80% !important;
         margin-left: 50px;
      }
       .center-category{
        width: 80%;
        margin-left: 40px;   
    }

    .add-category-mobile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 100px;
    }
    .add-file{
        width: 350px;
        height: 450px;
    }
    .add-file button{
        margin-right: 50px;
    } 

    .terms-mobile{
        display: grid;
    }
    .terms{
        display: none;
    }
    .profile-admin,.profile-viewer,.add-user,.change-password{
        width: 350px;
        top: 40%;
    }
    .profile-admin button{
        width:7rem !important;
        height: 3.5rem;
    }
    .add-user input,.add-user select{
        margin-left: 5% !important;
        margin-right: 5% !important;
        width: 90% !important;
    }
    .add-user button{
        margin-right: 65% !important;
    }
    .add-user  >div{
        margin-right: 35% !important;
    }
    .add-user .fa-pen{
        left: 60%;
    }



 
 
}

/*  responsive midduem sreen  */

@media (max-width:1024px){

    .img-cateory{
        display: none;
    }
    .add-category{
        transform: translateX(0);
    }
    .add-category .left-category{

        transform: translateX(50px);
       
    }
    .add-category .right-category{

        transform: translateX(25px);     
    }
    .add-category .center-category{
        transform: translateX(30px);
    }
    .add-left,.add-right{
        width: 16rem;
        height: 5rem;
    }
    .add1::before{
        width: 115px;
        left: -115px;
    }
    .add1::after{
        width: 20px;
        left: -115px;   
    }
    .add2::before{
        width: 95px;
        right: -95px;
    
    }
    .add2::after{
        width: 20px;
        right: -110px;  
    }
    .add9::before{
        width: 125px;
        left: -125px;
    }
    .add9::after{
        width: 20px;
        left: -130px;
    }
    .add10::before{
        width: 105px;
        right: -105px;
    }
    .add10::after{
        width: 20px;
        right: -125px;
  
    }
    .btn-add{
        transform: translate(0px, 40px);
    }


}

/*  responsive ipad sreen  */


@media (max-width:820px){

    .add-category .left-category{

        transform: translateX(45px);
       
    }
    .add-category .right-category{

        transform: translateX(35px);     
    }
    .add-category .center-category{
        transform: translateX(30px);
    }
    .add-left,.add-right{
        width: 12rem;
        height: 5rem;
    }
    .add9::before{
        width: 115px;
        left: -115px;
    }
    .add9::after{
        width: 20px;
        left: -115px;
    }
    .add10::before{
        width: 115px;
        right: -115px;
    }
    .add10::after{
        width: 20px;
        right: -115px;
  
    }

}

@media (max-width:768px){

    .add1::before{
        width: 105px;
        left: -105px;
    }
    .add1::after{
        width: 20px;
        left: -105px;   
    }
    .add9::before{
        width: 110px;
        left: -110px;
    }
    .add9::after{
        width: 20px;
        left: -110px;
    }
    .add10::before{
        width: 105px;
        right: -105px;
    }
    .add10::after{
        width: 20px;
        right: -120px;
  
    }
    .add-left,.add-right{
        width: 11rem;
        height: 5rem;
    }




}